# Ignorar archivos de configuración
*.ini

# Ignorar la base de datos
*.db
*.sqlite
*.sqlite3

# Ignorar imágenes dentro de la carpeta data y sus subcarpetas
data/thumbnails/*.jpg
data/thumbnails/comics/*.png
data/thumbnails/Comics/*.gif
data/thumbnails/editoriales/*.jpeg
data/thumbnails/editoriales/*.jpg
data/thumbnails/editoriales/*.gif
data/thumbnails/volumenes/*.bmp
data/thumbnails/volumenes/*.jpg
